# Telegram API Credentials
# Obtain your own API ID and API Hash from https://my.telegram.org (under 'API development tools')
# In TGDocs, these are used directly by your browser to communicate with Telegram's MTProto servers over secure WebSocket.
PUBLIC_TELEGRAM_API_ID=
PUBLIC_TELEGRAM_API_HASH=

# Optional: Default App Title & Domain
PUBLIC_APP_NAME=TGDocs
PUBLIC_APP_URL=https://tgdocs.com
